doctype html
html
  head
    title Meeklyt
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    block content
|    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
|    <!-- meeklyt one -->
|    <ins class="adsbygoogle"
|              style="display:inline-block;width:728px;height:90px"
|                   data-ad-client="ca-pub-6469904951954269"
|                        data-ad-slot="5791074635"></ins>
|    <script>
|(adsbygoogle = window.adsbygoogle || []).push({});
|    </script>
