extends ../layout

block content
  each video in videos
    div.video
      a(href='https://www.youtube.com/watch?v=' + video._id)
        h3= video.title
      p= video.pure_likes +  ' likes before first dislike'
