extends ../layout

block content
  h2 Submit a new one?
  form(role='form' action='/ret' method='post')
    .form-group
      label(for='vid') URL
      input#vid.form-control(type='text' name='vid' placeholder='URL here please')
    input.btn.btn-default(type='submit' value='Submit video')
    p.help-block It will take a few seconds for your video to appear.
  each video in videos
    div.video
      a(href='#')
        h3 [title hidden]
      p= video.likes + ' likes and zero dislikes'
      p= 'published in ' + ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][video.publishedAt.getMonth()] + ' ' + video.publishedAt.getFullYear() + ', ' + video.viewRange + ' views'
