extends ../layout

block content
  h1 youtube videos with zero dislikes
  h2 submit a new one?
  form(action='/ret' method='post')
    input(type='text' name='vid' placeholder='url here please')
    input(type='submit')
  each video in videos
    div.video
      h3= video.title
      p= 'likes: ' + video.likes + ' dislikes: ' + video.dislikes
